<section class="background flex column">
    <div id="logo">
        <a href=""><img src="" alt=""></a>
    </div>
    <div id="form" class="flex column">
        <form class="flex column" [formGroup]="formLogin">
            <input type="text" [class.input-error]="erro.usuario" placeholder="Usuário" formControlName="usuario">
            <input type="password" placeholder="Senha" [class.input-error]="erro.senha" formControlName="senha">
        </form>
        <a routerLink="" class="text-left">Esqueci minha senha</a>
        <button [disabled]="formLogin.invalid" (click)="Login()">Entrar</button>
    </div>
    <a routerLink="" class="text-center">Ainda não tem cadastro? <span class="bold">Criar conta</span></a>
</section>
