section{
    background: #1d2b3a;
}

#img{
    background-image: url('/assets/logo-fundo.png');
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    scale: 1;
    width: 100%;
    height: 100%;
    transform: scaleY(.9);
    top: -80px;
    right: -172px;
    display: flex;
}

#logo{
    margin-top: 115px;
    width: 100%;
    height: 180px;
}

#logo a{
    background-image: url('/assets/logo.png');
    scale: .85;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-33%);
    height: 100%;
    display: flex;
    z-index: 2;
}

#form{
    width: 100%;
    z-index: 2;
}

input {
    width: 100%;
    height: 55px;
    background: rgb(247, 247, 247);
    padding-left: 30px;
    margin-bottom: 15px;
    transition: all .3s;
}

input:hover{
    background: white;
}

#form a{
    padding-left: 20px;
    margin-bottom: 40px;
}

button {
    width: 100%;
    height: 50px;
    background: #c61d35;
    letter-spacing: 1px;
    margin-bottom: 160px;
    box-shadow: 0 0 5px -5px #0e0e0e;
    transition: all .4s;
}

button:hover{
    transform: scale(1.02);
}

a:hover{
    color: #c61d35;
}

a:hover span{
    color: #c61d35;
}